.logo-container {
    width: 100px;
}

.logo-container > img {
    width: 100%;
}

.main-container {
    margin-top: 65px;
}

.form-container {
    max-width: 600px;
    margin: 10px auto;
}

.form-container h1 {
    font-weight: 300;
    font-size: 2.5rem;
}

.dropzone {
    border: 1px dashed #ced4da;
    border-radius: 5px;
    background: white;
}

#imageUpload {
    margin-bottom: 20px;
    min-height: 80px;
}

div.has-error > input {
    border: 1px solid #dc3545;
}

div.has-error > .form-text {
    color: #dc3545;
}

#successModal .fa-thumbs-up {
    font-size: 7.5rem;
    color: #2ebf2e;
}

#successModal .fa-thumbs-down {
    font-size: 7.5rem;
    color: #e13535;
}

#success-text {
    margin-top: 20px;
    font-size: 1.2rem;
}

.print_section {
    display: none;
}

@media print {
    .print_section {
        display: inline !important;
    }

    .modal-xl {
        width: 100% !important;
    }

    ::-webkit-scrollbar {
        display: none !important;
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.accordion-inner .product_row {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #d1cece;
}

#contact_us_btn {
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 50%;
    background-size: 120px;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.image_area {
    position: relative;
}

.image_area img {
    display: block;
    max-width: 100%;
}

.preview_div,
.product_preview_div {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}

.modal-lg {
    max-width: 1000px !important;
}

.overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    height: 0;
    /* transition: 0.5s ease; */
    width: 100%;
}

.image_area:hover .overlay {
    height: 50%;
    cursor: pointer;
}

.img-container img {
    width: 100%;
}
.dataTables_filter input {
    border: 1px solid #17b948f1 !important;
}
.dataTables_processing {
    color: red !important;
    border: 1px solid red !important;
    top: 0% !important;
    margin-top: 100px !important;
}
.table-responsive {
    position: relative;
}
.disabled {
    pointer-events: none;
}

/** resize style **/
/* .ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

.ui-resizable-n {
    cursor: n-resize !important;
    height: 7px;
    width: 100%;
    top: 0px;
    left: 0;
    background: url('/images/double-arrow.png') top center
        no-repeat;
    border-top: 1px solid #f00;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: 0px;
    left: 0;
    background: url('/images/double-arrow.png') bottom center
        no-repeat;
    border-bottom: 1px solid #f00;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: 0px;
    top: 0;
    height: 100%;
    /* background: url('/images/double-arrow.png') right center
        no-repeat; */
    border-right: 1px solid #f00;
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: 0px;
    top: 0;
    height: 100%;
    /* background: url('/images/double-arrow.png') left center
        no-repeat; */
    border-left: 1px solid #f00;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 7px;
    height: 7px;
    right: 0px;
    bottom: 0px;
    background: url('/images/double-arrow.png') bottom right
        no-repeat;
    border: 1px solid #ff0000;
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: 0px;
    bottom: 0px;
    background: url('/images/double-arrow.png') bottom left
        no-repeat;
    border-top: 1px solid #f00;
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: 0px;
    top: 0px;
    background: url('/images/double-arrow.png') top left
        no-repeat;
    border-top: 1px solid #f00;
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: 0px;
    top: 0px;
    background: url('/images/double-arrow.png') top right
        no-repeat;
    border-top: 1px solid #f00;
} */
